{% extends 'base.html' %}
{% load static %}
{% block title %}
    Gêneros
{% endblock %}

{% block content %}


<div class="container mt-3">
    <div class="row mb-3">
        <div class="col-12">
            <h2 class="mb-3">Gêneros</h2>
                <div class="table-responsive">
                    <table class="table table-striped table-sm">
                        <thead>
                            <tr>
                                <th>Gênero</th>
                                <th>Ver detalhe do gênero</th>
                            </tr>
                        </thead>    
                        <tbody>
                            <tr>
                            {% for genre in genres  %}
                                <td>
                                    {{genre.nome}}
                                </td>
                                <td>
                                    <a href="{% url 'booksbygender' gender.nome %}">Ver detalhes do gênero</a>
                                </td>
                            {% endfor %}
                            </tr>
                        </tbody>
                    </table>
                </div>
        </div>
    </div>
</div>

{% endblock  %}